skMagicUser/alarmCenter.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_pdId(href="#") 알림센터
        .wrapper_comentArea.wrapper_alarm_area
            .wrapper_reply_box
                .wrapper_reply_userImg
                    .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                .wrapper_reply_idOption
                    .id_reply_userid
                        p 관리자님의 새로운 공지사항이 있습니다. 두줄까지 제목이 길어질 경우.
                .wrapper_reply_info
                    span 2020.04.06
        .wrapper_comentArea.wrapper_alarm_area
            .wrapper_reply_box
                .wrapper_reply_userImg
                    .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                .wrapper_reply_idOption
                    .id_reply_userid
                        p 홍길동님이 내글에 댓글을 남겼습니다.
                .wrapper_reply_info
                    span 2020.04.06
        .wrapper_comentArea.wrapper_alarm_area
            .wrapper_reply_box
                .wrapper_reply_userImg
                    .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                .wrapper_reply_idOption
                    .id_reply_userid
                        p maxLength = 46까지 입력됩니다. 글자수 제한 테스트. 글자수 제한 테스트. 글자수 제한 테스트. 글자수
                .wrapper_reply_info
                    span 2020.04.06
        .inner
            button.btn_delete_all(type='button' onclick='') 모두 지우기
script(type='text/javascript').
    //알람 박스 글자수 제한 시작
    var alarmBox = document.querySelectorAll('.wrapper_reply_box');
    alarmBox.forEach(function(e) {
        maxlength = 46;
        notice = e.childNodes[3].childNodes[1].childNodes[1];
        if(notice.innerHTML.length >= maxlength){
            notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
        }
    });
    //알람 박스 글자수 제한 끝

skMagicUser/html/alarmCenter.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_pdId" href="#">알림센터</a></div>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_alarm_area">
      <div class="wrapper_reply_box">
        <div class="wrapper_reply_userImg">
          <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
        </div>
        <div class="wrapper_reply_idOption">
          <div class="id_reply_userid">
            <p>관리자님의 새로운 공지사항이 있습니다. 두줄까지 제목이 길어질 경우.</p>
          </div>
        </div>
        <div class="wrapper_reply_info"><span>2020.04.06</span></div>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_alarm_area">
      <div class="wrapper_reply_box">
        <div class="wrapper_reply_userImg">
          <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
        </div>
        <div class="wrapper_reply_idOption">
          <div class="id_reply_userid">
            <p>홍길동님이 내글에 댓글을 남겼습니다.</p>
          </div>
        </div>
        <div class="wrapper_reply_info"><span>2020.04.06</span></div>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_alarm_area">
      <div class="wrapper_reply_box">
        <div class="wrapper_reply_userImg">
          <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
        </div>
        <div class="wrapper_reply_idOption">
          <div class="id_reply_userid">
            <p>maxLength = 46까지 입력됩니다. 글자수 제한 테스트. 글자수 제한 테스트. 글자수 제한 테스트. 글자수</p>
          </div>
        </div>
        <div class="wrapper_reply_info"><span>2020.04.06</span></div>
      </div>
    </div>
    <div class="inner">
      <button class="btn_delete_all" type="button" onclick="">모두 지우기</button>
    </div>
  </body>
</html>
<script type="text/javascript">
  //알람 박스 글자수 제한 시작
  var alarmBox = document.querySelectorAll('.wrapper_reply_box');
  alarmBox.forEach(function(e) {
      maxlength = 46;
      notice = e.childNodes[3].childNodes[1].childNodes[1];
      if(notice.innerHTML.length >= maxlength){
          notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
      }
  });
  //알람 박스 글자수 제한 끝
</script>
