skMagicUser/html/eduDataList.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_pdId" href="#">WPU-B100C/F</a></div>
      </div>
    </div>
    <div class="wrapper_progress">
      <div class="inner">
        <div class="wrapper_progress_percent area_half">
          <div class="single-chart circle_percent">
            <svg class="circular-chart skred" viewbox="-0.1 0 36.33 36">
              <g>
                <path class="circle_bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                <path class="circle progress" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
              </g>
              <circle class="point" fill="#000" cx="18" cy="2.1" r="2.16"></circle>
              <circle class="point" fill="#000" cx="33.9" cy="18" r="2.16"></circle>
              <circle class="point" fill="#000" cx="18" cy="33.9" r="2.16"></circle>
              <circle class="point" fill="#000" cx="2.19" cy="18" r="2.16"></circle>
            </svg>
          </div>
          <div class="percentageText">
            <div class="pgtext">
              <p></p><br/><span>진도율</span>
            </div>
          </div>
        </div>
        <div class="wrapper_progress_allOp area_half">
          <div class="single-chart circle_all_opinion">
            <svg class="circular-chart skred" viewbox="-0.1 0 36.33 36">
              <path class="circle_bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
              <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
            </svg>
          </div>
          <div class="percentageText">
            <div class="allOpinion">
              <p>43</p><br/><span>전체의견</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="area_partition"></div>
    <div class="wrapper_curri">
      <div class="inner">
        <h2 class="title_h2"><span>커리큘럼</span>을 선택해 주세요.</h2>
        <div class="wrapper_category_box" onclick="javascript:void(0)"><span>01</span>
          <p>교육영상</p>
          <div class="icon_header_fav">
            <input type="checkbox" id="fav1" onclick="fav(this)" checked="checked"/>
            <label for="fav1"></label>
          </div>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)"><span>02</span>
          <p>올인원 정수기 교육자료</p>
          <div class="icon_header_fav">
            <input type="checkbox" id="fav2" onclick="fav(this)" checked="checked"/>
            <label for="fav2"></label>
          </div>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)"><span>03</span>
          <p>타사비교</p>
          <div class="icon_header_fav" href="javascript:void(0)">
            <input type="checkbox" id="fav3" onclick="fav(this)"/>
            <label for="fav3"></label>
          </div>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)"><span>04</span>
          <p>제품 세일즈 스크립트</p>
          <div class="icon_header_fav">
            <input type="checkbox" id="fav4" onclick="fav(this)"/>
            <label for="fav4"></label>
          </div>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)"><span>05</span>
          <p>안심 OK</p>
          <div class="icon_header_fav">
            <input type="checkbox" id="fav5" onclick="fav(this)"/>
            <label for="fav5"></label>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    //즐겨찾기 체크박스 활성시 이벤트
    function fav(btnFav){
        if(btnFav.checked){
            //활성 이벤트
        }
        else{
            //비활성 이벤트
        }
    }
    
    //진도율 및 전체의견
    let percent = 50; //진도율
    let opinion = 43; //전체의견 갯수
    let progress = document.querySelector('.progress'),
    pgtext = document.querySelector('.pgtext'),
    allOp = document.querySelector('.allOpinion');
    pgtext.children[0].innerHTML = percent + '%' //진도율 텍스트
    progress.style.strokeDasharray = percent + ', 100' //진도율 게이지
    allOp.children[0].innerHTML = opinion //진도율 텍스트
  </script>
</html>

skMagicUser/eduDataList.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_pdId(href="#") WPU-B100C/F
        .wrapper_progress
            .inner
                .wrapper_progress_percent.area_half
                    .single-chart.circle_percent
                        svg.circular-chart.skred(viewbox='-0.1 0 36.33 36')
                            g
                                path.circle_bg(d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                                path.circle.progress(d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                            circle.point(fill='#000' cx='18' cy='2.1' r='2.16')
                            circle.point(fill='#000' cx='33.9' cy='18' r='2.16')
                            circle.point(fill='#000' cx='18' cy='33.9' r='2.16')
                            circle.point(fill='#000' cx='2.19' cy='18' r='2.16')
                    .percentageText
                        .pgtext
                            p
                            br
                            span 진도율
                .wrapper_progress_allOp.area_half
                    .single-chart.circle_all_opinion
                        svg.circular-chart.skred(viewbox='-0.1 0 36.33 36')
                            path.circle_bg(d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                            path.circle(stroke-dasharray='100, 100' d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                    .percentageText
                        .allOpinion
                            p 43
                            br
                            span 전체의견
        .area_partition
        .wrapper_curri
            .inner
                h2.title_h2
                    span 커리큘럼
                    | 을 선택해 주세요.
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 01
                    p 교육영상
                    .icon_header_fav
                        input(type="checkbox" id="fav1" onclick="fav(this)" checked)
                        label(for="fav1")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 02
                    p 올인원 정수기 교육자료
                    .icon_header_fav
                        input(type="checkbox" id="fav2" onclick="fav(this)" checked)
                        label(for="fav2")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 03
                    p 타사비교
                    .icon_header_fav(href="javascript:void(0)")
                        input(type="checkbox" id="fav3" onclick="fav(this)")
                        label(for="fav3")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 04
                    p 제품 세일즈 스크립트
                    .icon_header_fav
                        input(type="checkbox" id="fav4" onclick="fav(this)")
                        label(for="fav4")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 05
                    p 안심 OK
                    .icon_header_fav
                        input(type="checkbox" id="fav5" onclick="fav(this)")
                        label(for="fav5")
    script.
        //즐겨찾기 체크박스 활성시 이벤트
        function fav(btnFav){
            if(btnFav.checked){
                //활성 이벤트
            }
            else{
                //비활성 이벤트
            }
        }

        //진도율 및 전체의견
        let percent = 50; //진도율
        let opinion = 43; //전체의견 갯수
        let progress = document.querySelector('.progress'),
        pgtext = document.querySelector('.pgtext'),
        allOp = document.querySelector('.allOpinion');
        pgtext.children[0].innerHTML = percent + '%' //진도율 텍스트
        progress.style.strokeDasharray = percent + ', 100' //진도율 게이지
        allOp.children[0].innerHTML = opinion //진도율 텍스트
