skMagicUser/html/eduDataListdefault.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_pdId" href="#">설치 마스터 입문교육</a></div>
      </div>
    </div>
    <div class="wrapper_eduConts wrapper_category_default">
      <div class="inner">
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 1. 사전이수과정</p>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 2. 사전이수과정</p>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 3. 사전이수과정</p>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 4. 사전이수과정</p>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 5. 사전이수과정</p>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 6. 사전이수과정</p>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 7. 사전이수과정</p>
        </div>
        <div class="wrapper_category_box" onclick="javascript:void(0)">
          <p>Part 8. 사전이수과정</p>
        </div>
      </div>
    </div>
  </body>
  <script>
    //헤더 벨 알림 갯수
    alertCount = '0' //알람 수
    let count = document.querySelector('.alert_header_count');
    count.firstChild.innerHTML = alertCount;
    
    //베스트상품 타이틀 글자수 제한
    maxlength = 19;
    [].forEach.call(document.querySelectorAll('.text_product_title'), function(el) {
        if(el.innerHTML.length >= maxlength){
            el.innerHTML = `${el.innerHTML.substring(0, maxlength)}...`
        }
    });
  </script>
</html>

skMagicUser/eduDataListdefault.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_pdId(href="#") 설치 마스터 입문교육
        .wrapper_eduConts.wrapper_category_default
            .inner
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 1. 사전이수과정
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 2. 사전이수과정
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 3. 사전이수과정
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 4. 사전이수과정
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 5. 사전이수과정
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 6. 사전이수과정
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 7. 사전이수과정
                .wrapper_category_box(onclick="javascript:void(0)")
                    p Part 8. 사전이수과정
    script.
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;
        
        //베스트상품 타이틀 글자수 제한
        maxlength = 19;
        [].forEach.call(document.querySelectorAll('.text_product_title'), function(el) {
            if(el.innerHTML.length >= maxlength){
                el.innerHTML = `${el.innerHTML.substring(0, maxlength)}...`
            }
        });
