skMagicUser/eventList.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                        
                    a.icon_header_logo(href="./index.html")
                        
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapperEvents.margin_tab_top.menu_tab_wrap
            .inner
                input(type="radio" id="eventPre" name="eventTab" checked)
                label(for="eventPre") 진행 이벤트
                input(type="radio" id="eventFnsh" name="eventTab")
                label(for="eventFnsh") 지난 이벤트
                .wrapper_event_pre.wrapper_thumnail_list
                    .wrapper_list_box(onclick="location.href='./eventView.html'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다. 두줄까지 떨어질 경우.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p SK 매직 제휴 신용카드 혜택
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다. 
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다.
                            span 2020.04.05 ~ 2020.05.05
                    button.btn_load_more 더 보기
                .wrapper_event_fnsh.wrapper_thumnail_list
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 지난이벤트 입니다.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 지난이벤트 입니다.
                            span 2020.04.05 ~ 2020.05.05
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;

skMagicUser/html/eventList.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_main">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_user" href="./mgStoryList.html"></a><a class="icon_header_logo" href="./index.html"></a><a class="icon_header_bell" href="javascript:void(0)">
            <div class="alert_header_bell"></div>
            <div class="alert_header_count"><span>0</span></div></a></div>
      </div>
    </div>
    <div class="headerTabMenu">
      <div class="slideMenu">
        <input type="radio" name="topmenu" id="mCatalog" checked="checked"/>
        <label for="mCatalog">모바일 카탈로그</label>
        <input type="radio" name="topmenu" id="okService"/>
        <label for="okService">안심 OK서비스</label>
        <input type="radio" name="topmenu" id="eduData"/>
        <label for="eduData">교육자료</label>
        <input type="radio" name="topmenu" id="makeCata"/>
        <label for="makeCata">카달로그 제작</label>
        <input type="radio" name="topmenu" id="event"/>
        <label for="event">이벤트</label>
        <input type="radio" name="topmenu" id="localOp"/>
        <label for="localOp">현장 의견</label>
        <input type="radio" name="topmenu" id="mgLive"/>
        <label for="mgLive">매직라이브</label>
        <input type="radio" name="topmenu" id="rscEva"/>
        <label for="rscEva">설문 평가</label>
        <input type="radio" name="topmenu" id="fav"/>
        <label for="fav">즐겨찾기</label>
      </div>
    </div>
    <div class="wrapperEvents margin_tab_top menu_tab_wrap">
      <div class="inner">
        <input type="radio" id="eventPre" name="eventTab" checked="checked"/>
        <label for="eventPre">진행 이벤트</label>
        <input type="radio" id="eventFnsh" name="eventTab"/>
        <label for="eventFnsh">지난 이벤트</label>
        <div class="wrapper_event_pre wrapper_thumnail_list">
          <div class="wrapper_list_box" onclick="location.href='./eventView.html'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>웰빙&케어 전문가 MC를 모집합니다. 두줄까지 떨어질 경우.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>SK 매직 제휴 신용카드 혜택</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>웰빙&케어 전문가 MC를 모집합니다.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>웰빙&케어 전문가 MC를 모집합니다.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>웰빙&케어 전문가 MC를 모집합니다. </p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>웰빙&케어 전문가 MC를 모집합니다.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <button class="btn_load_more">더 보기</button>
        </div>
        <div class="wrapper_event_fnsh wrapper_thumnail_list">
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>지난이벤트 입니다.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>지난이벤트 입니다.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    //헤더 벨 알림 갯수
    alertCount = '0' //알람 수
    let count = document.querySelector('.alert_header_count');
    count.firstChild.innerHTML = alertCount;
  </script>
</html>
