skMagicUser/eventView.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    .icon_header_fav
                        input(type="checkbox" id="fav1" onclick="fav(this)" checked)
                        label(for="fav1")
        .contents_container
            .inner
                .wrapper_detail_title
                    p 웰빙&케어 전문가 MC를 모집합니다. 두줄까지 제목이 보일 경우.
                    span 2020.04.05 ~ 2020.05.05
                .wrapper_detail_img
                    img(src="../images/okService/videoThumb.png")
                .wrapper_prd_info
                    p
                        | 텍스트 입력 시 출력되는 영역입니다.
                        br
                        | (자간, 행간, 텍스트 사이즈 확인용)
                        br
                        | 배경은 화이트 (margin 참고용 배경 컬러입니다.)
                        br
                        | 설정값 : text-align: justify, line-height: 1.2, letter-spacing: -0.2rem 입니다.
                .wrapper_related_data
        .area_partition
        .wrapper_comentArea.wrapper_reply_area
            .inner
                .wrapper_reply_count
                    p 댓글 
                        span.reply_count_num
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김매직
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 잘 만드셨네요. 이 제품 가격이 얼마인가요? 답변 부탁드립니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box.coments
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user2.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박매직
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 5만원 입니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user3.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 홍길동
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 좋은 방법이네요. 저도 활용해 보겠습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user4.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김수진
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 우왕~ 이뻐요.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user5.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박새로이
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 안녕하세요. 반갑습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_seeMore(onclick="javascript:void(0)")
                    p 다음 댓글 더보기 ...
                .replyWrite.wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        input(type="text" placeholder="댓글을 남겨보세요.")
    script.
        function like(btnLike){
            var label = btnLike.previousSibling.previousSibling.firstChild;
            if(btnLike.checked){
                label.style.filter = 'grayscale(0%)'
            }
            else{
                label.style.filter = 'grayscale(100%)'
            }
        }

        //댓글 갯수
        var replyCount = document.getElementsByClassName('wrapper_reply_box').length - 1;
        document.getElementsByClassName('reply_count_num')[0].innerHTML = replyCount

skMagicUser/html/eventView.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a>
          <div class="icon_header_fav">
            <input type="checkbox" id="fav1" onclick="fav(this)" checked="checked"/>
            <label for="fav1"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="contents_container">
      <div class="inner">
        <div class="wrapper_detail_title">
          <p>웰빙&케어 전문가 MC를 모집합니다. 두줄까지 제목이 보일 경우.</p><span>2020.04.05 ~ 2020.05.05</span>
        </div>
        <div class="wrapper_detail_img"><img src="../images/okService/videoThumb.png"/></div>
        <div class="wrapper_prd_info">
          <p>텍스트 입력 시 출력되는 영역입니다.<br/>(자간, 행간, 텍스트 사이즈 확인용)<br/>배경은 화이트 (margin 참고용 배경 컬러입니다.)<br/>설정값 : text-align: justify, line-height: 1.2, letter-spacing: -0.2rem 입니다.</p>
        </div>
        <div class="wrapper_related_data"></div>
      </div>
    </div>
    <div class="area_partition"></div>
    <div class="wrapper_comentArea wrapper_reply_area">
      <div class="inner">
        <div class="wrapper_reply_count">
          <p>댓글 <span class="reply_count_num"></span></p>
        </div>
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>김매직</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>잘 만드셨네요. 이 제품 가격이 얼마인가요? 답변 부탁드립니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box coments">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user2.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>박매직</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>5만원 입니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user3.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>홍길동</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>좋은 방법이네요. 저도 활용해 보겠습니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user4.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>김수진</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>우왕~ 이뻐요.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user5.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>박새로이</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>안녕하세요. 반갑습니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_seeMore" onclick="javascript:void(0)">
          <p>다음 댓글 더보기 ...</p>
        </div>
        <div class="replyWrite wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <input type="text" placeholder="댓글을 남겨보세요."/>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function like(btnLike){
        var label = btnLike.previousSibling.previousSibling.firstChild;
        if(btnLike.checked){
            label.style.filter = 'grayscale(0%)'
        }
        else{
            label.style.filter = 'grayscale(100%)'
        }
    }
    
    //댓글 갯수
    var replyCount = document.getElementsByClassName('wrapper_reply_box').length - 1;
    document.getElementsByClassName('reply_count_num')[0].innerHTML = replyCount
  </script>
</html>
