skMagicUser/favorite.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                        
                    a.icon_header_logo(href="./index.html")
                        
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapper_contents.margin_tab_top
            .inner
                h2.title_h2
                    span 즐겨찾기
                    | 하신 메뉴입니다.
        .area_partition
        .wrapper_products
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="waterPuri") 모바일 카달로그
                input(type="checkbox" id="waterPuri" onclick="accordionMenu(this)")
                ul
                    li(onclick="location.href='okServiceView.html'") WPU-B100C/F
                    li WPU-B100C/F 특장점
                    li WPU-B100C/F 타사비교
                    li WPU-A700 특장점
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="bidet") 안심OK서비스
                input(type="checkbox" id="bidet" onclick="accordionMenu(this)")
                ul
                    li WPU-B100C/F 안심OK서비스 영상
                    li WPU-B100C/F 안심OK서비스 영상
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="lifeApp") 교육자료
                input(type="checkbox" id="lifeApp" onclick="accordionMenu(this)")
                ul
                    li WPU-B100C/F
                    li WPU-B100C/F
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="kitchenApp") 이벤트
                input(type="checkbox" id="kitchenApp" onclick="accordionMenu(this)")
                ul
                    li 4월 특가 이벤트 프로모션
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;
        


        //아코디언 메뉴
        function accordionMenu(box){
            let ul = box.nextSibling.nextSibling;
            let arw = ul.parentNode.childNodes[1];
            if(box.checked){
                ul.style.display = 'block'
                arw.style.transform = 'rotate(-90deg)'
            }
            else{
                ul.style.display = 'none'
                arw.style.transform = 'rotate(90deg)'
            }
        }

skMagicUser/html/favorite.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_main">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_user" href="./mgStoryList.html"></a><a class="icon_header_logo" href="./index.html"></a><a class="icon_header_bell" href="javascript:void(0)">
            <div class="alert_header_bell"></div>
            <div class="alert_header_count"><span>0</span></div></a></div>
      </div>
    </div>
    <div class="headerTabMenu">
      <div class="slideMenu">
        <input type="radio" name="topmenu" id="mCatalog" checked="checked"/>
        <label for="mCatalog">모바일 카탈로그</label>
        <input type="radio" name="topmenu" id="okService"/>
        <label for="okService">안심 OK서비스</label>
        <input type="radio" name="topmenu" id="eduData"/>
        <label for="eduData">교육자료</label>
        <input type="radio" name="topmenu" id="makeCata"/>
        <label for="makeCata">카달로그 제작</label>
        <input type="radio" name="topmenu" id="event"/>
        <label for="event">이벤트</label>
        <input type="radio" name="topmenu" id="localOp"/>
        <label for="localOp">현장 의견</label>
        <input type="radio" name="topmenu" id="mgLive"/>
        <label for="mgLive">매직라이브</label>
        <input type="radio" name="topmenu" id="rscEva"/>
        <label for="rscEva">설문 평가</label>
        <input type="radio" name="topmenu" id="fav"/>
        <label for="fav">즐겨찾기</label>
      </div>
    </div>
    <div class="wrapper_contents margin_tab_top">
      <div class="inner">
        <h2 class="title_h2"><span>즐겨찾기</span>하신 메뉴입니다.</h2>
      </div>
    </div>
    <div class="area_partition"></div>
    <div class="wrapper_products">
      <div class="contents_products_accordionBox">
        <div class="icon_accordionBox_arrow"></div>
        <label for="waterPuri">모바일 카달로그</label>
        <input type="checkbox" id="waterPuri" onclick="accordionMenu(this)"/>
        <ul>
          <li onclick="location.href='okServiceView.html'">WPU-B100C/F</li>
          <li>WPU-B100C/F 특장점</li>
          <li>WPU-B100C/F 타사비교</li>
          <li>WPU-A700 특장점</li>
        </ul>
      </div>
      <div class="contents_products_accordionBox">
        <div class="icon_accordionBox_arrow"></div>
        <label for="bidet">안심OK서비스</label>
        <input type="checkbox" id="bidet" onclick="accordionMenu(this)"/>
        <ul>
          <li>WPU-B100C/F 안심OK서비스 영상</li>
          <li>WPU-B100C/F 안심OK서비스 영상</li>
        </ul>
      </div>
      <div class="contents_products_accordionBox">
        <div class="icon_accordionBox_arrow"></div>
        <label for="lifeApp">교육자료</label>
        <input type="checkbox" id="lifeApp" onclick="accordionMenu(this)"/>
        <ul>
          <li>WPU-B100C/F</li>
          <li>WPU-B100C/F</li>
        </ul>
      </div>
      <div class="contents_products_accordionBox">
        <div class="icon_accordionBox_arrow"></div>
        <label for="kitchenApp">이벤트</label>
        <input type="checkbox" id="kitchenApp" onclick="accordionMenu(this)"/>
        <ul>
          <li>4월 특가 이벤트 프로모션</li>
        </ul>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    //헤더 벨 알림 갯수
    alertCount = '0' //알람 수
    let count = document.querySelector('.alert_header_count');
    count.firstChild.innerHTML = alertCount;
    
    
    
    //아코디언 메뉴
    function accordionMenu(box){
        let ul = box.nextSibling.nextSibling;
        let arw = ul.parentNode.childNodes[1];
        if(box.checked){
            ul.style.display = 'block'
            arw.style.transform = 'rotate(-90deg)'
        }
        else{
            ul.style.display = 'none'
            arw.style.transform = 'rotate(90deg)'
        }
    }
  </script>
</html>
