skMagicUser/html/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body class="padding_footer">
    <div class="wrapper_popUp">
      <div class="wrapper_modal_box">
        <div class="wrapper_modal_contents">팝업 이미지 사이즈 670 * 900</div>
        <div class="wrapper_modal_close">
          <button type="button">오늘 그만보기</button>
          <button type="button" onclick="modalClose(this)">닫기</button>
        </div>
      </div>
    </div>
    <script>
      //모달 팝업 시작
      function modalClose(close){
          close.parentNode.parentNode.parentNode.style.display = 'none';
      }
      //모달 팝업 끝
    </script>
    <div class="header_common header_top_main">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_user" href="./mgStoryList.html"></a><a class="icon_header_logo" href="./index.html"></a><a class="icon_header_bell" href="./alarmCenter.html">
            <div class="alert_header_bell"></div>
            <div class="alert_header_count"><span>0</span></div></a></div>
      </div>
    </div>
    <div class="visual_mgsc">
      <div class="inner form_visual_search">
        <div class="cont_inner">
          <input type="text" placeholder="검색어를 입력해주세요." onfocus="this.placeholder=''" onblur="this.placeholder='검색어를 입력해주세요.'" onclick="location.href='./search.html'"/>
        </div>
      </div>
    </div>
    <div class="wrapper_menu_main">
      <div class="inner">
        <div class="cont_inner">
          <div class="iconWrapper"><a class="icon_menu_box" style="background: url(../images/main/i_mc.png);" href="./mCatalog.html"></a><a class="icon_menu_box" style="background: url(../images/main/i_ok.png);" href="./okServiceList.html"></a><a class="icon_menu_box" style="background: url(../images/main/i_ed.png);" href="./eduData.html"></a><a class="icon_menu_box" style="background: url(../images/main/i_ca.png);" href="javascript:void(0)"></a><a class="icon_menu_box" style="background: url(../images/main/i_ev.png);" href="./eventList.html"></a><a class="icon_menu_box" style="background: url(../images/main/i_lo.png);" href="./locaOpinion.html"></a><a class="icon_menu_box" style="background: url(../images/main/i_li.png);" href="./magicLive.html"></a><a class="icon_menu_box" style="background: url(../images/main/i_re.png);" href="./surveyList.html"></a><a class="icon_menu_box" style="background: url(../images/main/i_fa.png);" href="./favorite.html"></a></div>
        </div>
      </div>
    </div>
    <div class="banner_event">
      <div class="inner">
        <div class="cont_inner">
          <div class="eventWrapper"><a class="banner_event_box" style="background: url(../images/main/banner_01.png);" href="javascript:void(0)"></a><a class="banner_event_box" style="background: url(../images/main/banner_02.png);" href="javascript:void(0)"></a><a class="banner_event_box" style="background: url(../images/main/banner_03.png);" href="javascript:void(0)"></a></div>
        </div>
      </div>
    </div>
    <div class="footer_common footer_bottom_main" onclick="location.href='./notice.html'">
      <div class="inner">
        <div class="cont_inner">
          <div class="link_notice_footer"><span>[공지] 패키지 계약에 따른 고객 정보변경 개선사항에 따른 지침사항.</span></div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    //헤더 벨 알림 갯수
    alertCount = '0' //알람 수
    let count = document.querySelector('.alert_header_count');
    count.firstChild.innerHTML = alertCount;
    //푸터 공지사항 글자수 제한
    let notice = document.querySelector('.link_notice_footer').firstChild,
    maxlength = 29;
    if(notice.innerHTML.length >= maxlength){
        notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
    }
  </script>
</html>

skMagicUser/index.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        include ./popUp.pug
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                    a.icon_header_logo(href="./index.html")
                    a.icon_header_bell(href="./alarmCenter.html")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        .visual_mgsc
            .inner.form_visual_search
                .cont_inner
                    input(type="text" placeholder="검색어를 입력해주세요." onfocus="this.placeholder=''" onblur="this.placeholder='검색어를 입력해주세요.'" onclick="location.href='./search.html'")
        .wrapper_menu_main
            .inner
                .cont_inner
                    .iconWrapper
                        a.icon_menu_box(style="background: url(../images/main/i_mc.png);" href="./mCatalog.html")
                        a.icon_menu_box(style="background: url(../images/main/i_ok.png);" href="./okServiceList.html")
                        a.icon_menu_box(style="background: url(../images/main/i_ed.png);" href="./eduData.html")
                        a.icon_menu_box(style="background: url(../images/main/i_ca.png);" href="javascript:void(0)")
                        a.icon_menu_box(style="background: url(../images/main/i_ev.png);" href="./eventList.html")
                        a.icon_menu_box(style="background: url(../images/main/i_lo.png);" href="./locaOpinion.html")
                        a.icon_menu_box(style="background: url(../images/main/i_li.png);" href="./magicLive.html")
                        a.icon_menu_box(style="background: url(../images/main/i_re.png);" href="./surveyList.html")
                        a.icon_menu_box(style="background: url(../images/main/i_fa.png);" href="./favorite.html")
        .banner_event
            .inner
                .cont_inner
                    .eventWrapper
                        a.banner_event_box(style="background: url(../images/main/banner_01.png);" href="javascript:void(0)")
                        a.banner_event_box(style="background: url(../images/main/banner_02.png);" href="javascript:void(0)")
                        a.banner_event_box(style="background: url(../images/main/banner_03.png);" href="javascript:void(0)")
        .footer_common.footer_bottom_main(onclick="location.href='./notice.html'")
            .inner
                .cont_inner
                    .link_notice_footer
                        span [공지] 패키지 계약에 따른 고객 정보변경 개선사항에 따른 지침사항.
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;
        //푸터 공지사항 글자수 제한
        let notice = document.querySelector('.link_notice_footer').firstChild,
        maxlength = 29;
        if(notice.innerHTML.length >= maxlength){
            notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
        }
