skMagicUser/locaOpinion.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                    a.icon_header_logo(href="./index.html")
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapper_contents.margin_tab_top
            .inner
                .wrapper_best_item
                    h2.title_h2
                        | 여러분의 
                        span 소리를 들려주세요.
        .area_partition  
        .wrapper_loca_opinion.wrapper_category_default
            .inner
                .wrapper_category_box(onclick="location.href='locaOpinionDetail.html'")
                    p 현장의 소리를 들려주세요.
                .wrapper_category_box(onclick="#")
                    p 고객의 소리를 들려주세요.
                .wrapper_category_box(onclick="#")
                    p 현장의 소리에 답하다.
    script.
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;

skMagicUser/html/locaOpinion.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_main">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_user" href="./mgStoryList.html"></a><a class="icon_header_logo" href="./index.html"></a><a class="icon_header_bell" href="javascript:void(0)">
            <div class="alert_header_bell"></div>
            <div class="alert_header_count"><span>0</span></div></a></div>
      </div>
    </div>
    <div class="headerTabMenu">
      <div class="slideMenu">
        <input type="radio" name="topmenu" id="mCatalog" checked="checked"/>
        <label for="mCatalog">모바일 카탈로그</label>
        <input type="radio" name="topmenu" id="okService"/>
        <label for="okService">안심 OK서비스</label>
        <input type="radio" name="topmenu" id="eduData"/>
        <label for="eduData">교육자료</label>
        <input type="radio" name="topmenu" id="makeCata"/>
        <label for="makeCata">카달로그 제작</label>
        <input type="radio" name="topmenu" id="event"/>
        <label for="event">이벤트</label>
        <input type="radio" name="topmenu" id="localOp"/>
        <label for="localOp">현장 의견</label>
        <input type="radio" name="topmenu" id="mgLive"/>
        <label for="mgLive">매직라이브</label>
        <input type="radio" name="topmenu" id="rscEva"/>
        <label for="rscEva">설문 평가</label>
        <input type="radio" name="topmenu" id="fav"/>
        <label for="fav">즐겨찾기</label>
      </div>
    </div>
    <div class="wrapper_contents margin_tab_top">
      <div class="inner">
        <div class="wrapper_best_item">
          <h2 class="title_h2">여러분의 <span>소리를 들려주세요.</span></h2>
        </div>
      </div>
    </div>
    <div class="area_partition"> </div>
    <div class="wrapper_loca_opinion wrapper_category_default">
      <div class="inner">
        <div class="wrapper_category_box" onclick="location.href='locaOpinionDetail.html'">
          <p>현장의 소리를 들려주세요.</p>
        </div>
        <div class="wrapper_category_box" onclick="#">
          <p>고객의 소리를 들려주세요.</p>
        </div>
        <div class="wrapper_category_box" onclick="#">
          <p>현장의 소리에 답하다.</p>
        </div>
      </div>
    </div>
  </body>
  <script>
    //헤더 벨 알림 갯수
    alertCount = '0' //알람 수
    let count = document.querySelector('.alert_header_count');
    count.firstChild.innerHTML = alertCount;
  </script>
</html>
