skMagicUser/mgStoryFl.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_pdId(href="#") 팔로워
        .wrapper_comentArea.wrapper_alarm_area
            .wrapper_reply_box.follow_box
                .wrapper_reply_userImg
                    .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                .wrapper_reply_idOption
                    .id_reply_userid
                        p.name 안정원
                .wrapper_reply_info.follow_info
                    span 레벨 : 
                        span.count_num 3
                    span.icon_heart 좋아요 : 
                        span.count_num 2249
        .wrapper_comentArea.wrapper_alarm_area
            .wrapper_reply_box.follow_box
                .wrapper_reply_userImg
                    .img_reply_userImg(style="background:url(../images/magicStory/user2.png)")
                .wrapper_reply_idOption
                    .id_reply_userid
                        p.name 양석형
                .wrapper_reply_info.follow_info
                    span 레벨 : 
                        span.count_num 3
                    span.icon_heart 좋아요 : 
                        span.count_num 2249
        .wrapper_comentArea.wrapper_alarm_area
            .wrapper_reply_box.follow_box
                .wrapper_reply_userImg
                    .img_reply_userImg(style="background:url(../images/magicStory/user4.png)")
                .wrapper_reply_idOption
                    .id_reply_userid
                        p.name 채송화
                .wrapper_reply_info.follow_info
                    span 레벨 : 
                        span.count_num 3
                    span.icon_heart 좋아요 : 
                        span.count_num 2249
        .wrapper_comentArea.wrapper_alarm_area
            .wrapper_reply_box.follow_box
                .wrapper_reply_userImg
                    .img_reply_userImg(style="background:url(../images/magicStory/user5.png)")
                .wrapper_reply_idOption
                    .id_reply_userid
                        p.name 이익준
                .wrapper_reply_info.follow_info
                    span 레벨 : 
                        span.count_num 3
                    span.icon_heart 좋아요 : 
                        span.count_num 2249

skMagicUser/html/mgStoryFl.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_pdId" href="#">팔로워</a></div>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_alarm_area">
      <div class="wrapper_reply_box follow_box">
        <div class="wrapper_reply_userImg">
          <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
        </div>
        <div class="wrapper_reply_idOption">
          <div class="id_reply_userid">
            <p class="name">안정원</p>
          </div>
        </div>
        <div class="wrapper_reply_info follow_info"><span>레벨 : <span class="count_num">3</span></span><span class="icon_heart">좋아요 : <span class="count_num">2249</span></span></div>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_alarm_area">
      <div class="wrapper_reply_box follow_box">
        <div class="wrapper_reply_userImg">
          <div class="img_reply_userImg" style="background:url(../images/magicStory/user2.png)"></div>
        </div>
        <div class="wrapper_reply_idOption">
          <div class="id_reply_userid">
            <p class="name">양석형</p>
          </div>
        </div>
        <div class="wrapper_reply_info follow_info"><span>레벨 : <span class="count_num">3</span></span><span class="icon_heart">좋아요 : <span class="count_num">2249</span></span></div>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_alarm_area">
      <div class="wrapper_reply_box follow_box">
        <div class="wrapper_reply_userImg">
          <div class="img_reply_userImg" style="background:url(../images/magicStory/user4.png)"></div>
        </div>
        <div class="wrapper_reply_idOption">
          <div class="id_reply_userid">
            <p class="name">채송화</p>
          </div>
        </div>
        <div class="wrapper_reply_info follow_info"><span>레벨 : <span class="count_num">3</span></span><span class="icon_heart">좋아요 : <span class="count_num">2249</span></span></div>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_alarm_area">
      <div class="wrapper_reply_box follow_box">
        <div class="wrapper_reply_userImg">
          <div class="img_reply_userImg" style="background:url(../images/magicStory/user5.png)"></div>
        </div>
        <div class="wrapper_reply_idOption">
          <div class="id_reply_userid">
            <p class="name">이익준</p>
          </div>
        </div>
        <div class="wrapper_reply_info follow_info"><span>레벨 : <span class="count_num">3</span></span><span class="icon_heart">좋아요 : <span class="count_num">2249</span></span></div>
      </div>
    </div>
  </body>
</html>
