skMagicUser/mgStoryViewCatalog.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_mgsView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_option(href="javascript:void(0)")
        .wrapper_story_info
            .inner
                .wrapper_info_detail
                    .icon_info_userPic
                    .box_info_idtime
                        p 김매직
                        span 2020.04.06 오전 08:46
        .cont_story_view
            .wrapper_cont_text
                .inner
                    p 예상 납부 금액은 실제 납부 금액과 다를 수 있습니다. 카드 할인 금액은 제휴 카드 발급 및 렌탈료 자동 이체 시 전월 실적에 따라 실제 납부 금액이 결제됩니다.
            .wrapper_cont_img
                i.edit(onclick="javascript:void(0)")
                img(src="../images/magicStory/pd10.png")
        .wrapper_story_reply
            .inner
                .wrapper_btn_like
                    input(type="checkbox" id="btnLike")
                    label(for="btnLike")
                .wrapper_count_like
                    p 좋아요
                    span 4
                .wrapper_count_like
                    p 댓글
                    span 5
                button(type="button") 게시물 수정
        .wrapper_comentArea.wrapper_reply_area
            .inner
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김매직
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 잘 만드셨네요. 이 제품 가격이 얼마인가요? 답변 부탁드립니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box.coments
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user2.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박매직
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 5만원 입니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user3.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 홍길동
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 좋은 방법이네요. 저도 활용해 보겠습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user4.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김수진
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 우왕~ 이뻐요.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user5.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박새로이
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 안녕하세요. 반갑습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_seeMore(onclick="javascript:void(0)")
                    p 다음 댓글 더보기 ...
                .replyWrite.wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        input(type="text" placeholder="댓글을 남겨보세요.")
        .footer_common.footer_bottom_mgStory
            .inner
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f1.png")
                    p 마이 스토리
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f2.png")
                    p 게시물 등록
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f3.png")
                    p 추천 사용자
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f4.png")
                    p 팔로우 스토리

skMagicUser/html/mgStoryViewCatalog.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_mgsView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_option" href="javascript:void(0)"></a></div>
      </div>
    </div>
    <div class="wrapper_story_info">
      <div class="inner">
        <div class="wrapper_info_detail">
          <div class="icon_info_userPic"></div>
          <div class="box_info_idtime">
            <p>김매직</p><span>2020.04.06 오전 08:46</span>
          </div>
        </div>
      </div>
    </div>
    <div class="cont_story_view">
      <div class="wrapper_cont_text">
        <div class="inner">
          <p>예상 납부 금액은 실제 납부 금액과 다를 수 있습니다. 카드 할인 금액은 제휴 카드 발급 및 렌탈료 자동 이체 시 전월 실적에 따라 실제 납부 금액이 결제됩니다.</p>
        </div>
      </div>
      <div class="wrapper_cont_img"><i class="edit" onclick="javascript:void(0)"></i><img src="../images/magicStory/pd10.png"/></div>
    </div>
    <div class="wrapper_story_reply">
      <div class="inner">
        <div class="wrapper_btn_like">
          <input type="checkbox" id="btnLike"/>
          <label for="btnLike"></label>
        </div>
        <div class="wrapper_count_like">
          <p>좋아요</p><span>4</span>
        </div>
        <div class="wrapper_count_like">
          <p>댓글</p><span>5</span>
        </div>
        <button type="button">게시물 수정</button>
      </div>
    </div>
    <div class="wrapper_comentArea wrapper_reply_area">
      <div class="inner">
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>김매직</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>잘 만드셨네요. 이 제품 가격이 얼마인가요? 답변 부탁드립니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box coments">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user2.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>박매직</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>5만원 입니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user3.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>홍길동</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>좋은 방법이네요. 저도 활용해 보겠습니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user4.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>김수진</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>우왕~ 이뻐요.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user5.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <div class="id_reply_userid">
              <p>박새로이</p>
            </div>
            <div class="btn_reply_option"></div>
          </div>
          <div class="wrapper_reply_text">
            <p>안녕하세요. 반갑습니다.</p>
          </div>
          <div class="wrapper_reply_info"><span>2020.04.06 오전 08:46</span><span>답글쓰기</span></div>
        </div>
        <div class="wrapper_reply_seeMore" onclick="javascript:void(0)">
          <p>다음 댓글 더보기 ...</p>
        </div>
        <div class="replyWrite wrapper_reply_box">
          <div class="wrapper_reply_userImg">
            <div class="img_reply_userImg" style="background:url(../images/magicStory/user.png)"></div>
          </div>
          <div class="wrapper_reply_idOption">
            <input type="text" placeholder="댓글을 남겨보세요."/>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_common footer_bottom_mgStory">
      <div class="inner"><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f1.png"/>
          <p>마이 스토리</p></a><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f2.png"/>
          <p>게시물 등록</p></a><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f3.png"/>
          <p>추천 사용자</p></a><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f4.png"/>
          <p>팔로우 스토리</p></a></div>
    </div>
  </body>
</html>
