skMagicUser/mgStoryProfile.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_cancel(href="javascript:history.back()") 취소
                    a.icon_header_pdId(href="#") 프로필 수정
                    button.btn_header_profileSubmit 완료
        .wrapper_profile_edit
            .inner
                .wrapper_profile_img
                    .box_profile_img
                    button(type="button").btn_profile_imgEdit 프로필 사진 변경
        .wrapper_profile_info
            .inner
                label(for="") 이름
                input.input_profile_name(type="text" id="" placeholder="이름을 입력하세요." value="홍길동")
                label(for="") 전화번호
                input.input_profile_call(type="text" id="" placeholder="전화번호를 입력하세요." value="010-1234-5678")
        .inner
            button.btn_profile_submit 완료
        .footer_common.footer_bottom_mgStory
            .inner
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f1.png")
                    p 마이 스토리
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f2.png")
                    p 게시물 등록
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f3.png")
                    p 추천 사용자
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f4.png")
                    p 팔로우 스토리

skMagicUser/html/mgStoryProfile.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body class="padding_footer">
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_cancel" href="javascript:history.back()">취소</a><a class="icon_header_pdId" href="#">프로필 수정</a>
          <button class="btn_header_profileSubmit">완료</button>
        </div>
      </div>
    </div>
    <div class="wrapper_profile_edit">
      <div class="inner">
        <div class="wrapper_profile_img">
          <div class="box_profile_img"></div>
          <button class="btn_profile_imgEdit" type="button">프로필 사진 변경</button>
        </div>
      </div>
    </div>
    <div class="wrapper_profile_info">
      <div class="inner">
        <label for="">이름</label>
        <input class="input_profile_name" type="text" id="" placeholder="이름을 입력하세요." value="홍길동"/>
        <label for="">전화번호</label>
        <input class="input_profile_call" type="text" id="" placeholder="전화번호를 입력하세요." value="010-1234-5678"/>
      </div>
    </div>
    <div class="inner">
      <button class="btn_profile_submit">완료</button>
    </div>
    <div class="footer_common footer_bottom_mgStory">
      <div class="inner"><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f1.png"/>
          <p>마이 스토리</p></a><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f2.png"/>
          <p>게시물 등록</p></a><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f3.png"/>
          <p>추천 사용자</p></a><a class="wrapper_footer_icon" href="javascript:void(0)"><img class="icon_footer_link" src="../images/magicStory/f4.png"/>
          <p>팔로우 스토리</p></a></div>
    </div>
  </body>
</html>
