skMagicUser/html/notice.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_main">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_user" href="./mgStoryList.html"></a><a class="icon_header_logo" href="./index.html"></a><a class="icon_header_bell" href="javascript:void(0)">
            <div class="alert_header_bell"></div>
            <div class="alert_header_count"><span>0</span></div></a></div>
      </div>
    </div>
    <div class="headerTabMenu">
      <div class="slideMenu">
        <input type="radio" name="topmenu" id="mCatalog" checked="checked"/>
        <label for="mCatalog">모바일 카탈로그</label>
        <input type="radio" name="topmenu" id="okService"/>
        <label for="okService">안심 OK서비스</label>
        <input type="radio" name="topmenu" id="eduData"/>
        <label for="eduData">교육자료</label>
        <input type="radio" name="topmenu" id="makeCata"/>
        <label for="makeCata">카달로그 제작</label>
        <input type="radio" name="topmenu" id="event"/>
        <label for="event">이벤트</label>
        <input type="radio" name="topmenu" id="localOp"/>
        <label for="localOp">현장 의견</label>
        <input type="radio" name="topmenu" id="mgLive"/>
        <label for="mgLive">매직라이브</label>
        <input type="radio" name="topmenu" id="rscEva"/>
        <label for="rscEva">설문 평가</label>
        <input type="radio" name="topmenu" id="fav"/>
        <label for="fav">즐겨찾기</label>
      </div>
    </div>
    <div class="margin_tab_top"></div>
    <div class="wrapper_notice">
      <div class="wrapper_notice_info">
        <p>관리자님의 새로운 공지사항이 있습니다.</p><span>2020.04.06</span>
      </div>
    </div>
    <div class="wrapper_notice">
      <div class="wrapper_notice_info">
        <p>관리자님의 새로운 공지사항이 있습니다. 두줄까지 떨어질 때.</p><span>2020.04.06</span>
      </div>
    </div>
    <div class="wrapper_notice">
      <div class="wrapper_notice_info">
        <p>관리자님의 새로운 공지사항이 있습니다. 글자수 제한 테스트. 글자수 제한 테스트 입니다.</p><span>2020.04.06</span>
      </div>
    </div>
  </body>
</html>
<script>
  //공지사항 글자수 제한 시작
  var alarmBox = document.querySelectorAll('.wrapper_notice_info');
  alarmBox.forEach(function(e) {
      maxlength = 46;
      notice = e.childNodes[1];
      if(notice.innerHTML.length >= maxlength){
          notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
          }
      }
  );
  //공지사항 글자수 제한 끝
</script>

skMagicUser/notice.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                    a.icon_header_logo(href="./index.html")
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .margin_tab_top
        .wrapper_notice
            .wrapper_notice_info
                p 관리자님의 새로운 공지사항이 있습니다.
                span 2020.04.06
        .wrapper_notice
            .wrapper_notice_info
                p 관리자님의 새로운 공지사항이 있습니다. 두줄까지 떨어질 때.
                span 2020.04.06
        .wrapper_notice
            .wrapper_notice_info
                p 관리자님의 새로운 공지사항이 있습니다. 글자수 제한 테스트. 글자수 제한 테스트. 글자수 제한 테스트. 글자수 제한 테스트.
                span 2020.04.06
script.
    //공지사항 글자수 제한 시작
    var alarmBox = document.querySelectorAll('.wrapper_notice_info');
    alarmBox.forEach(function(e) {
        maxlength = 49;
        notice = e.childNodes[1];
        if(notice.innerHTML.length >= maxlength){
            notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
            }
        }
    );
    //공지사항 글자수 제한 끝
