skMagicUser/html/search.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_search">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a>
          <input type="text" placeholder="상품명 및 상품코드 검색"/><a class="icon_header_search" onclick="location.href='./searchView.html'"></a>
        </div>
      </div>
    </div>
    <div class="wrapper_search_history">
      <div class="inner"><span class="title_search_history">최근검색어</span><a class="btn_search_clear">전체삭제</a></div>
    </div>
    <div class="wrapper_history_box">
      <div class="inner">
        <div class="icon_history_search"></div>
        <div class="text_history_word">직수정수기</div>
        <div class="btn_history_delete"></div>
      </div>
    </div>
    <div class="wrapper_history_box">
      <div class="inner">
        <div class="icon_history_search"></div>
        <div class="text_history_word">ERABHI30MDBL</div>
        <div class="btn_history_delete"></div>
      </div>
    </div>
    <div class="wrapper_history_box">
      <div class="inner">
        <div class="icon_history_search"></div>
        <div class="text_history_word">IHRBF311S1BL</div>
        <div class="btn_history_delete"></div>
      </div>
    </div>
    <div class="wrapper_history_box">
      <div class="inner">
        <div class="icon_history_search"></div>
        <div class="text_history_word">터치온 플렉스 하이브리드 인덕션입니다</div>
        <div class="btn_history_delete"></div>
      </div>
    </div>
    <div class="wrapper_history_box">
      <div class="inner">
        <div class="icon_history_search"></div>
        <div class="text_history_word">슬림 정수기</div>
        <div class="btn_history_delete"></div>
      </div>
    </div>
  </body>
</html>
<script>
  //최근 검색어 글자수 제한
  maxlength = 17;
  [].forEach.call(document.querySelectorAll('.text_history_word'), function(el) {
      if(el.innerHTML.length >= maxlength){
          el.innerHTML = el.innerHTML.substring(0, maxlength);
      }
  });
</script>

skMagicUser/search.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_search
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    input(type="text" placeholder="상품명 및 상품코드 검색")      
                    a.icon_header_search(onclick="location.href='./searchView.html'")
        .wrapper_search_history
            .inner
                span.title_search_history 최근검색어
                a.btn_search_clear 전체삭제
        .wrapper_history_box
            .inner
                .icon_history_search
                .text_history_word 직수정수기
                .btn_history_delete
        .wrapper_history_box
            .inner
                .icon_history_search
                .text_history_word ERABHI30MDBL
                .btn_history_delete
        .wrapper_history_box
            .inner
                .icon_history_search
                .text_history_word IHRBF311S1BL
                .btn_history_delete
        .wrapper_history_box
            .inner
                .icon_history_search
                .text_history_word 터치온 플렉스 하이브리드 인덕션
                .btn_history_delete
        .wrapper_history_box
            .inner
                .icon_history_search
                .text_history_word 슬림 정수기
                .btn_history_delete
