skMagicUser/surveyImages.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    a.icon_header_pdId(href="#") 설문
        .survey_wrapper
            .inner
                .wrapper_survey_title
                    p MC 유니폼 디자인 설문
                    span 2020.04.01 ~2020.04.31
                table.wrapper_survey_qBox
                    colgroup
                        col(width='10.14%')
                        col(width='*')
                        col(width='8.69%')
                    thead
                        tr
                            th 01
                            th(colspan="2") 새로 시행되는 유니폼 중 마음에 드는 디자인은?
                    tbody
                        tr
                            td(colspan='3')
                                .wrapper_survey_img
                                    .half_survey_img
                                        .box_survey_img(style="background:#f2aeb8")
                                        .info_survey_img TYPE A
                                    .half_survey_img
                                        .box_survey_img(style="background:#f2ceae")
                                        .info_survey_img TYPE B
                        tr(onclick="surveyChk(this)")
                            td
                                span 1
                            td()
                                input(type="radio" id="q1" name="question01")
                                label(for="q1") 타입 A
                            td
                        tr(onclick="surveyChk(this)")
                            td
                                span 2
                            td
                                input(type="radio" id="q2" name="question01")
                                label(for="q2") 타입 B
                            td
                button(type='submit') 완료
script.
    function surveyChk(tr) {
        tr.getElementsByTagName('input')[0].checked = true;
        Array.from(tr.parentNode.getElementsByTagName('input')).forEach(function(i) {
            if(i.checked == true){
                i.parentNode.parentNode.classList.add('survey_checked')
            }
            else{
                i.parentNode.parentNode.classList.remove('survey_checked')
            }
        });
    }

skMagicUser/html/surveyImages.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body class="padding_footer">
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_pdId" href="#">설문</a></div>
      </div>
    </div>
    <div class="survey_wrapper">
      <div class="inner">
        <div class="wrapper_survey_title">
          <p>MC 유니폼 디자인 설문</p><span>2020.04.01 ~2020.04.31</span>
        </div>
        <table class="wrapper_survey_qBox">
          <colgroup>
            <col width="10.14%"/>
            <col width="*"/>
            <col width="8.69%"/>
          </colgroup>
          <thead>
            <tr>
              <th>01</th>
              <th colspan="2">새로 시행되는 유니폼 중 마음에 드는 디자인은?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3">
                <div class="wrapper_survey_img">
                  <div class="half_survey_img">
                    <div class="box_survey_img" style="background:#f2aeb8"></div>
                    <div class="info_survey_img">TYPE A</div>
                  </div>
                  <div class="half_survey_img">
                    <div class="box_survey_img" style="background:#f2ceae"></div>
                    <div class="info_survey_img">TYPE B</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>1</span></td>
              <td>
                <input type="radio" id="q1" name="question01"/>
                <label for="q1">타입 A</label>
              </td>
              <td></td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>2</span></td>
              <td>
                <input type="radio" id="q2" name="question01"/>
                <label for="q2">타입 B</label>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button type="submit">완료</button>
      </div>
    </div>
  </body>
</html>
<script>
  function surveyChk(tr) {
      tr.getElementsByTagName('input')[0].checked = true;
      Array.from(tr.parentNode.getElementsByTagName('input')).forEach(function(i) {
          if(i.checked == true){
              i.parentNode.parentNode.classList.add('survey_checked')
          }
          else{
              i.parentNode.parentNode.classList.remove('survey_checked')
          }
      });
  }
</script>
