skMagicUser/html/surveyList.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_main">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_user" href="./mgStoryList.html"></a><a class="icon_header_logo" href="./index.html"></a><a class="icon_header_bell" href="javascript:void(0)">
            <div class="alert_header_bell"></div>
            <div class="alert_header_count"><span>0</span></div></a></div>
      </div>
    </div>
    <div class="headerTabMenu">
      <div class="slideMenu">
        <input type="radio" name="topmenu" id="mCatalog" checked="checked"/>
        <label for="mCatalog">모바일 카탈로그</label>
        <input type="radio" name="topmenu" id="okService"/>
        <label for="okService">안심 OK서비스</label>
        <input type="radio" name="topmenu" id="eduData"/>
        <label for="eduData">교육자료</label>
        <input type="radio" name="topmenu" id="makeCata"/>
        <label for="makeCata">카달로그 제작</label>
        <input type="radio" name="topmenu" id="event"/>
        <label for="event">이벤트</label>
        <input type="radio" name="topmenu" id="localOp"/>
        <label for="localOp">현장 의견</label>
        <input type="radio" name="topmenu" id="mgLive"/>
        <label for="mgLive">매직라이브</label>
        <input type="radio" name="topmenu" id="rscEva"/>
        <label for="rscEva">설문 평가</label>
        <input type="radio" name="topmenu" id="fav"/>
        <label for="fav">즐겨찾기</label>
      </div>
    </div>
    <div class="wrapper_survey margin_tab_top menu_tab_wrap">
      <div class="inner">
        <input type="radio" id="survey" name="eventTab" checked="checked"/>
        <label for="survey">설문</label>
        <input type="radio" id="test" name="eventTab"/>
        <label for="test">평가</label>
        <input type="radio" id="testResult" name="eventTab"/>
        <label for="testResult">평가보관함</label>
        <div class="wrapper_survey wrapper_thumnail_list">
          <div class="wrapper_list_box" onclick="location.href='./surveyMulti.html'">
            <div class="img_list_box"><img src="../images/survey/img_list_default.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>객관식 설문평가 샘플.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='./surveyImages.html'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>이미지 추가 된 객관식 설문평가 샘플.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='./surveyEssay.html'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>주관식 설문평가 샘플.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>웰빙&케어 전문가 MC를 모집합니다. </p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>웰빙&케어 전문가 MC를 모집합니다.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <button class="btn_load_more">더 보기</button>
        </div>
        <div class="wrapper_test_list wrapper_thumnail_list">
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>평가 리스트.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
          <div class="wrapper_list_box" onclick="location.href='#'">
            <div class="img_list_box"><img src="../images/event/event_thumb.png" alt="eventImg"/></div>
            <div class="text_list_box post">
              <p>평가 리스트.</p><span>2020.04.05 ~ 2020.05.05</span>
            </div>
          </div>
        </div>
        <div class="wrapper_test_result wrapper_thumnail_list">
          <div class="wrapper_list_box result_box" onclick="location.href='./resultMulti.html'">
            <div class="img_list_box">
              <div class="test_result_score">
                <p>100<span>점</span></p>
              </div>
            </div>
            <div class="text_list_box result">
              <div class="result_flex_box">
                <p>객관식 설문 평가 보관함.</p><span>2020.04.05 ~ 2020.05.05</span>
              </div>
            </div>
          </div>
          <div class="wrapper_list_box result_box" onclick="location.href='./resultEssay.html'">
            <div class="img_list_box">
              <div class="test_result_score">
                <p>96<span>점</span></p>
              </div>
            </div>
            <div class="text_list_box result">
              <div class="result_flex_box">
                <p>주관식 설문 평가 보관함. 유니폼 디자인 설문. 두줄까지 떨어졌을 경우.</p><span>2020.04.05 ~ 2020.05.05</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

skMagicUser/surveyList.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                        
                    a.icon_header_logo(href="./index.html")
                        
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapper_survey.margin_tab_top.menu_tab_wrap
            .inner
                input(type="radio" id="survey" name="eventTab" checked)
                label(for="survey") 설문
                input(type="radio" id="test" name="eventTab")
                label(for="test") 평가
                input(type="radio" id="testResult" name="eventTab")
                label(for="testResult") 평가보관함
                .wrapper_survey.wrapper_thumnail_list
                    .wrapper_list_box(onclick="location.href='./surveyMulti.html'")
                        .img_list_box
                            img(src="../images/survey/img_list_default.png" alt="eventImg")
                        .text_list_box.post
                            p 객관식 설문평가 샘플.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='./surveyImages.html'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 이미지 추가 된 객관식 설문평가 샘플.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='./surveyEssay.html'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 주관식 설문평가 샘플.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다. 
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다.
                            span 2020.04.05 ~ 2020.05.05
                    button.btn_load_more 더 보기
                .wrapper_test_list.wrapper_thumnail_list
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 평가 리스트.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 평가 리스트.
                            span 2020.04.05 ~ 2020.05.05
                .wrapper_test_result.wrapper_thumnail_list
                    .wrapper_list_box.result_box(onclick="location.href='./resultMulti.html'")
                        .img_list_box
                            .test_result_score
                                p 100
                                    span 점
                        .text_list_box.result
                            .result_flex_box
                                p 객관식 설문 평가 보관함.
                                span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box.result_box(onclick="location.href='./resultEssay.html'")
                        .img_list_box
                            .test_result_score
                                p 96
                                    span 점
                        .text_list_box.result
                            .result_flex_box
                                p 주관식 설문 평가 보관함. 유니폼 디자인 설문. 두줄까지 떨어졌을 경우.
                                span 2020.04.05 ~ 2020.05.05
