skMagicUser/surveyMulti.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    a.icon_header_pdId(href="#") 설문
        .survey_wrapper
            .inner
                .wrapper_survey_title
                    p MC 유니폼 디자인 설문
                    span 2020.04.01 ~2020.04.31
                table.wrapper_survey_qBox
                    colgroup
                        col(width='10.14%')
                        col(width='*')
                        col(width='8.69%')
                    thead
                        tr
                            th 01
                            th(colspan='2') SK 매직 UV 케어 정수기의 특징이 아닌것은?
                    tbody
                        tr(onclick="surveyChk(this)")
                            td
                                span 1
                            td
                                input(type="radio" id="q1" name="question01")
                                label(for="q1") 국내최초 워터룸을 99.9% UV 안심케어이다.
                            td
                        tr(onclick="surveyChk(this)")
                            td
                                span 2
                            td
                                input(type="radio" id="q2" name="question01")
                                label(for="q2") 물이 출수되는 코크를 99.9% UV 안심케어한다.
                            td
                        tr(onclick="surveyChk(this)")
                            td
                                span 3
                            td
                                input(type="radio" id="q3" name="question01")
                                label(for="q3") 1년마다 새것처럼 취수부 3종과 필터튜빙을 무상 두 줄 이상으로 길어질 경우.
                            td
                        tr(onclick="surveyChk(this)")
                            td
                                span 4
                            td
                                input(type="radio" id="q4" name="question01")
                                label(for="q4") 4개월마다 안심OK서비스는 따로 진행.
                            td
                table.wrapper_survey_qBox
                    colgroup
                        col(width='10.14%')
                        col(width='*')
                        col(width='8.69%')
                    thead
                        tr
                            th 02
                            th(colspan='2') SK 매직 UV 케어 정수기의 특징이 아닌것은?
                    tbody
                        tr(onclick="surveyChk(this)")
                            td
                                span 1
                            td()
                                input(type="radio" id="q2-1" name="question02")
                                label(for="q2-1") 국내최초 워터룸을 99.9% UV 안심케어이다.
                            td
                                .icon_survey_checked
                        tr(onclick="surveyChk(this)")
                            td
                                span 2
                            td
                                input(type="radio" id="q2-2" name="question02")
                                label(for="q2-2") 물이 출수되는 코크를 99.9% UV 안심케어한다.
                            td
                        tr(onclick="surveyChk(this)")
                            td
                                span 3
                            td
                                input(type="radio" id="q2-3" name="question02")
                                label(for="q2-3") 1년마다 새것처럼 취수부 3종과 필터튜빙을 무상 두 줄 이상으로 길어질 경우.
                            td
                        tr(onclick="surveyChk(this)")
                            td
                                span 4
                            td
                                input(type="radio" id="q2-4" name="question02")
                                label(for="q2-4") 4개월마다 안심OK서비스는 따로 진행.
                            td
                button(type='submit') 완료
script.
    function surveyChk(tr) {
        tr.getElementsByTagName('input')[0].checked = true;
        Array.from(tr.parentNode.getElementsByTagName('input')).forEach(function(i) {
            if(i.checked == true){
                i.parentNode.parentNode.classList.add('survey_checked')
            }
            else{
                i.parentNode.parentNode.classList.remove('survey_checked')
            }
        });
    }

skMagicUser/html/surveyMulti.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body class="padding_footer">
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_pdId" href="#">설문</a></div>
      </div>
    </div>
    <div class="survey_wrapper">
      <div class="inner">
        <div class="wrapper_survey_title">
          <p>MC 유니폼 디자인 설문</p><span>2020.04.01 ~2020.04.31</span>
        </div>
        <table class="wrapper_survey_qBox">
          <colgroup>
            <col width="10.14%"/>
            <col width="*"/>
            <col width="8.69%"/>
          </colgroup>
          <thead>
            <tr>
              <th>01</th>
              <th colspan="2">SK 매직 UV 케어 정수기의 특징이 아닌것은?</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="surveyChk(this)">
              <td><span>1</span></td>
              <td>
                <input type="radio" id="q1" name="question01"/>
                <label for="q1">국내최초 워터룸을 99.9% UV 안심케어이다.</label>
              </td>
              <td></td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>2</span></td>
              <td>
                <input type="radio" id="q2" name="question01"/>
                <label for="q2">물이 출수되는 코크를 99.9% UV 안심케어한다.</label>
              </td>
              <td></td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>3</span></td>
              <td>
                <input type="radio" id="q3" name="question01"/>
                <label for="q3">1년마다 새것처럼 취수부 3종과 필터튜빙을 무상 두 줄 이상으로 길어질 경우.</label>
              </td>
              <td></td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>4</span></td>
              <td>
                <input type="radio" id="q4" name="question01"/>
                <label for="q4">4개월마다 안심OK서비스는 따로 진행.</label>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table class="wrapper_survey_qBox">
          <colgroup>
            <col width="10.14%"/>
            <col width="*"/>
            <col width="8.69%"/>
          </colgroup>
          <thead>
            <tr>
              <th>02</th>
              <th colspan="2">SK 매직 UV 케어 정수기의 특징이 아닌것은?</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="surveyChk(this)">
              <td><span>1</span></td>
              <td>
                <input type="radio" id="q2-1" name="question02"/>
                <label for="q2-1">국내최초 워터룸을 99.9% UV 안심케어이다.</label>
              </td>
              <td>
                <div class="icon_survey_checked"></div>
              </td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>2</span></td>
              <td>
                <input type="radio" id="q2-2" name="question02"/>
                <label for="q2-2">물이 출수되는 코크를 99.9% UV 안심케어한다.</label>
              </td>
              <td></td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>3</span></td>
              <td>
                <input type="radio" id="q2-3" name="question02"/>
                <label for="q2-3">1년마다 새것처럼 취수부 3종과 필터튜빙을 무상 두 줄 이상으로 길어질 경우.</label>
              </td>
              <td></td>
            </tr>
            <tr onclick="surveyChk(this)">
              <td><span>4</span></td>
              <td>
                <input type="radio" id="q2-4" name="question02"/>
                <label for="q2-4">4개월마다 안심OK서비스는 따로 진행.</label>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button type="submit">완료</button>
      </div>
    </div>
  </body>
</html>
<script>
  function surveyChk(tr) {
      tr.getElementsByTagName('input')[0].checked = true;
      Array.from(tr.parentNode.getElementsByTagName('input')).forEach(function(i) {
          if(i.checked == true){
              i.parentNode.parentNode.classList.add('survey_checked')
          }
          else{
              i.parentNode.parentNode.classList.remove('survey_checked')
          }
      });
  }
</script>
