skMagicUser/surveyEssay.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    a.icon_header_pdId(href="#") 설문
        .survey_wrapper
            .inner
                .wrapper_survey_title
                    p MC 유니폼 디자인 설문
                    span 2020.04.01 ~2020.04.31
                table.wrapper_survey_qBox
                    colgroup
                        col(width='10.14%')
                        col(width='*')
                    thead
                        tr
                            th 01
                            th SK 매직 UV 케어 정수기의 특징은?
                    tbody
                        tr
                            td
                                span.icon_essay_plus
                            td
                                input(type="text" placeholder="답변을 남겨주세요.")
                table.wrapper_survey_qBox
                    colgroup
                        col(width='10.14%')
                        col(width='*')
                    thead
                        tr
                            th 01
                            th SK 매직 UV 케어 정수기의 특징은?
                    tbody
                        tr
                            td
                                span.icon_essay_plus
                            td()
                                input(type="text" placeholder="답변을 남겨주세요.")
                button(type='submit') 완료
script.

skMagicUser/html/surveyEssay.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body class="padding_footer">
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_back" href="javascript:history.back()"></a><a class="icon_header_pdId" href="#">설문</a></div>
      </div>
    </div>
    <div class="survey_wrapper">
      <div class="inner">
        <div class="wrapper_survey_title">
          <p>MC 유니폼 디자인 설문</p><span>2020.04.01 ~2020.04.31</span>
        </div>
        <table class="wrapper_survey_qBox">
          <colgroup>
            <col width="10.14%"/>
            <col width="*"/>
          </colgroup>
          <thead>
            <tr>
              <th>01</th>
              <th>SK 매직 UV 케어 정수기의 특징은?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="icon_essay_plus"></span></td>
              <td>
                <input type="text" placeholder="답변을 남겨주세요."/>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="wrapper_survey_qBox">
          <colgroup>
            <col width="10.14%"/>
            <col width="*"/>
          </colgroup>
          <thead>
            <tr>
              <th>01</th>
              <th>SK 매직 UV 케어 정수기의 특징은?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="icon_essay_plus"></span></td>
              <td>
                <input type="text" placeholder="답변을 남겨주세요."/>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit">완료</button>
      </div>
    </div>
  </body>
</html>
<script></script>
