skMagicUser/writePage.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_cancel(href="javascript:history.back()") 취소
                    a.icon_header_pdId(href="#") 의견작성
                    a.icon_header_submit(href="#") 등록
        .wrapper_select_cate
            .inner
                select(name="locaCate")
                    option(value="") (필수) 카테고리를 선택해 주세요.
                    option(value="") 카테고리 1
                    option(value="") 카테고리 2
                    option(value="") 카테고리 3
        .wrapper_write_area
            textarea(placeholder="내용을 작성해 주세요.(최대 1000글자)")
        .area_partition
        .wrapper_upload_img
            .wrapper_img_box
                .inner
                    .thumb_img
                    button.btn_att_cancel(type="button") 삭제
            .wrapper_img_box
                .inner
                    input(type="file" id='btn_upload')
                    label(for="btn_upload").thumb_img.thumb_default
                    button(type="button" onclick="addBox(this)").btn_add_box

script(type='text/javascript').
    //사진첨부 박스 생성
    var uploadArea = document.getElementsByClassName('wrapper_upload_img')[0];
    boxNum = 5; //최대 개수
    function addBox(btn){
        if(uploadArea.childNodes.length < boxNum + 3){
            uldBox = document.createElement('div');
            uldBox.classList.add('wrapper_img_box');
            uploadArea.appendChild(uldBox);
            uldBox.outerHTML = btn.parentNode.parentNode.outerHTML;
        }
        else{
            alert('더이상 추가할 수 없습니다.')
        }
    }

skMagicUser/html/writePage.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>skmUserPage</title>
    <link rel="stylesheet" type="text/css" href="../style/import.css"/>
  </head>
  <body>
    <div class="header_common header_top_okSvcView">
      <div class="inner">
        <div class="iconWrapper"><a class="icon_header_cancel" href="javascript:history.back()">취소</a><a class="icon_header_pdId" href="#">의견작성</a><a class="icon_header_submit" href="#">등록</a></div>
      </div>
    </div>
    <div class="wrapper_select_cate">
      <div class="inner">
        <select name="locaCate">
          <option value="">(필수) 카테고리를 선택해 주세요.</option>
          <option value="">카테고리 1</option>
          <option value="">카테고리 2</option>
          <option value="">카테고리 3</option>
        </select>
      </div>
    </div>
    <div class="wrapper_write_area">
      <textarea placeholder="내용을 작성해 주세요.(최대 1000글자)"></textarea>
    </div>
    <div class="area_partition"></div>
    <div class="wrapper_upload_img">
      <div class="wrapper_img_box">
        <div class="inner">
          <div class="thumb_img"></div>
          <button class="btn_att_cancel" type="button">삭제</button>
        </div>
      </div>
      <div class="wrapper_img_box">
        <div class="inner">
          <input type="file" id="btn_upload"/>
          <label class="thumb_img thumb_default" for="btn_upload"></label>
          <button class="btn_add_box" type="button" onclick="addBox(this)"></button>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  //사진첨부 박스 생성
  var uploadArea = document.getElementsByClassName('wrapper_upload_img')[0];
  boxNum = 5; //최대 개수
  function addBox(btn){
      if(uploadArea.childNodes.length < boxNum + 3){
          uldBox = document.createElement('div');
          uldBox.classList.add('wrapper_img_box');
          uploadArea.appendChild(uldBox);
          uldBox.outerHTML = btn.parentNode.parentNode.outerHTML;
      }
      else{
          alert('더이상 추가할 수 없습니다.')
      }
  }
</script>
